html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow: hidden;
}

.layout {
    width: 100%;
    background-color: khaki;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 10% auto;
}

.header {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}


.header-wrapper {
    font-family: Roboto, sans-serif;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625em 6.25em 0;
}

.site-name {
    font-weight: 500;
    white-space: nowrap;
}


.nav {
    display: flex;
}

.links-list {
    display: flex;
    list-style: none;
}

.links-list li {
    margin: 0 1em;
}

.links-list li:last-child{
    margin: 0;
}

.links-list li:first-child{
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}


/* Main container */

.main-container {
    background-color: rgb(65, 105, 225);
    height: 100vh;
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: auto 350px auto;
    grid-template-rows: 10% auto 30%;
}

.word-container {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.word-container:hover {
    transform: rotateY(180deg);
}

.word-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    background-color: #edb015;
    display: grid;
    grid-template-rows: 20px auto 30px auto 20px;
    grid-template-columns: 10% auto 10%;
    font-family: 'Comic Neue', cursive;
}

.desc-card {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-color: #389b59;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: left;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transform: rotateY(180deg);
}


.word {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.pronunciation {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.desc {
    max-width: 300px;
    margin-left: 10px;
}